@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i,900&display=swap");

body {
  font-family: "Muli", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #0C3653;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:focus{
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none;
  box-shadow: initial;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  text-decoration: none;
}

a:focus,
a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: "Muli", sans-serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 13px;
  font-family: "Muli", sans-serif;
}

.bg-Sr {
  background: #F98169 !important;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}


.btn-round {
  background: #F98169;
  padding: 12px 26px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  box-shadow: 0px 3px 10px 0px #F98169 !important;
  cursor: pointer !important;
}

.btn-round:hover, 
.btn-singleOrder:hover {
  color: #fff;
}

.btn-outline-ash {
  background: transparent;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #F98169;
  color: #0B314B;
  -webkit-border-radius: 0px;
  -moz-border-radius: 30px;
  border-radius: 30px;

}

a.btn-outline-ash:hover {
  color: #0B314B;
}

.header_search {
  border: 10px solid #fff;
  border-radius: 45px;
  margin-bottom: 20px;

}

.search_widget .input-group .form-control {
  font-size: 14px;
  line-height: 29px;
  border: 1px solid #eeeeee;
  width: 100% !important;
  font-weight: 300;
  color: #777777;
  padding-left: 20px;
  border-radius: 45px;
  z-index: 0;
  background: #EDF0F3;
}
.search_widget .input-group .form-control {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search_widget .input-group .form-control.placeholder {
  color: #777777;
  font-weight: normal;
}

.search_widget .input-group .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search_widget .input-group .btn-default {
  position: absolute;
  right: 20px;
  background: transparent;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  color: #F98169;
  font-weight: 700;
  padding: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.search_widget .input-group .btn-icon {
  background: #F98169;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

}

.search_widget .input-group .btn-icon:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.p-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.p-150 {
  padding-top: 150px;
  padding-bottom: 150px;
}

@media(max-width : 400px) {
  .p-150 {
    padding-top: 90px;
    padding-bottom: 50px;
  }
}


.overlay {
  position: relative;
  z-index: 0;
}

.overlay::before {
  position: absolute;
  content: "";
  background-color: #1f1f1f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .5;
}

.section-title {
  margin: 30px 30px 30px 0;
}

.section-title h5 {
  color: #0C3653;
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* button style */
.owl-carousel .owl-nav div {
  background: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50px;
  color: #FF9800;
  left: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 10px;
}

.owl-carousel .owl-nav div.owl-next p {
  position: relative;
  right: 0;
  font-size: 20px;

}

.owl-carousel .owl-nav div.owl-prev p {
  position: relative;
  top: 0px;
  font-size: 20px;

}

.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

.section_title span {
  position: relative;
  z-index: 3;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 3px;
  color: #001D38;
  text-transform: uppercase;
  margin-bottom: 14px;
  display: block;
  padding-top: 14px;
}

.section_title span:before {
  position: absolute;
  height: 60px;
  width: 1px;
  background: #615CFD;
  content: '';
  left: 50%;
  bottom: 100%;
}

.section_title h3 {
  font-size: 50px;
  line-height: 62px;
  font-weight: 700;
  color: #001D38;
  position: relative;
  z-index: 0;
  padding-bottom: 15px;
}

.section_title p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  .section_title p br {
    display: none;
  }
}

.mb-50 {
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .mb-50 {
    margin-bottom: 40px;
  }
}


/* Header  ----------------------------------------Section */

@media (max-width: 767px) {
  .mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 9;
  }
}

.slicknav_menu .slicknav_nav {
  background: #fff;
  float: right;
  margin-top: 0;
  padding: 0;
  width: 95%;
  padding: 0;
  border-radius: 0px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 11px;
}

.slicknav_menu .slicknav_nav a {
  color: #777777;
  font-size: 15px;
}

.slicknav_menu .slicknav_nav a:hover {
  background: transparent;
  color: #777777;
}

.slicknav_menu .slicknav_nav a.active {
  color: #F98169;
  font-size: 18px;
  font-weight: bolder;
}

.slicknav_menu .slicknav_nav .slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 99;
  border: 1px solid #ddd;
  top: 3px;
  right: 5px;
  top: -36px;
}

.slicknav_menu .slicknav_nav .slicknav_btn .slicknav_icon {
  margin-right: 6px;
  margin-top: 3px;
  position: relative;
  padding-bottom: 3px;
  top: -11px;
  right: -5px;
  background: #000 !important;
}

@media (max-width: 767px) {
  .slicknav_menu {
    margin-right: 0px;
  }
}

.slicknav_nav .slicknav_arrow {
  float: right;
  font-size: 22px;
  position: relative;
  top: -9px;
}

.slicknav_btn {
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 99;
  border: none;
  border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 0;
  margin-top: -5px;
  top: -29px;
  right: 5px;
}

.header-area {
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 99;
  position: absolute;
}

@media (max-width: 767px) {
  .header-area {
    padding-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
    padding-top: 0;
  }
}

.header-area .main-header-area {
  padding: 20px 200px;
  background: transparent;
}

@media (max-width: 767px) {
  .header-area .main-header-area {
    padding: 10px 0px;
    background: transparent;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area {
    padding: 10px 15px;
    background: transparent;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area {
    padding: 25px 0px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area {
    padding: 10px 0px;
  }
}

.header-area .main-header-area .download__menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}



.header-area .main-header-area .download__menu .book_btn {
  margin-left: 30px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .download__menu .book_btn {
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .header-area .main-header-area .download__menu .book_btn {
    margin-left: 0;
  }
}

.header-area .main-header-area .download__menu .book_btn a {
  background: #F98169;
  padding: 12px 26px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header-area .main-header-area .download__menu .book_btn a {
    padding: 12px 20px;
  }
}

.header-area .main-header-area .download__menu .book_btn a:hover {
  background: #F98169;
  color: #fff;
  border: 1px solid #F98169;
}

.header-area .main-header-area .main-menu {
  text-align: center;
  padding: 12px 0;
}

.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

.header-area .main-header-area .main-menu ul li a {
  color: #7E8C93 ;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-family: "Muli", sans-serif;
  position: relative;
  text-transform: capitalize;
 
}

.header-area .main-header-area .main-menu ul li a.active {
  color: #F98169;
  font-weight: bolder;
  font-size: 18px;
}

.header-area .main-header-area .main-menu ul li:first-child a {
  padding-left: 0;
}

.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: transparent;
  z-index: 2000;

}

@media (max-width: 767px) {
  .header-area .main-header-area.sticky {
    padding: 10px 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header-area.sticky {
    padding: 10px 0px;
  }
}

.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

 /* Slider Header ----------------------------------------Section */
.slider_bg_1 {
  background-image: url(../images/bg-1.png);
}

.slider_bg_2 {
  background-image: url(../images/bg-2.png);
}

.slider_area .single_slider {
  position: relative;
  z-index: 0;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider_area .single_slider .social_links {
  position: absolute;
  right: 0;
  left: 50px;
  top: 86%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99;
}

@media (max-width: 767px) {
  .slider_area .single_slider .social_links {
    display: none;
  }
}

.slider_area .single_slider .social_links li {
  display: block;
  margin-bottom: 10px;
}

.slider_area .single_slider .social_links li a {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #F98169;
  font-size: 13px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}


.slider_area .single_slider .social_links li:last-child {
  margin-bottom: 0;
}

.slider_area .single_slider .slider_text h6 {
  color: #F98169;
  font-family: "Muli", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 55px;
  margin-bottom: 9px;
}

@media (max-width: 767px) {
  .slider_area .single_slider .slider_text h6 {
    font-size: 20px;
    line-height: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider_area .single_slider .slider_text h6 {
    font-size: 20px;
    line-height: 35px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .slider_area .single_slider .slider_text h6 {
    font-size: 30px;
    letter-spacing: 3px;
    line-height: 55px;
  }
}


.slider_area .single_slider .slider_text p {
  font-size: 13px;
  font-weight: bold;
  color: #0C3653;
  position: relative;
  z-index: 1;
}

@keyframes slider {
  0% {
     transform: skewX(70deg);
     opacity: 0.2;
     transform: translateX(100%);

  }
  100% {
   transform: skewX(0deg);
   opacity: 1;
 transform-origin: left;

 }
}

@keyframes slider2 {
 0% {
    transform: skewX(70deg);
    opacity: 0.2;
    transform: translateX(-100%);

 }
 100% {
  transform: skewX(0deg);
  opacity: 1;

}
}

.slider-content {
  position: relative;
  -webkit-animation-name: slider; 
    -webkit-animation-duration: 2s;     
    -webkit-animation-fill-mode: both;
    -webkit-transition: ease-in-out;
  animation-name: slider;
  animation-duration: 2s;    
  animation-fill-mode: both;
  transition: ease-in-out;
}

.slider-contentTwo {
  position: relative;
  -webkit-animation-name: slider2; 
    -webkit-animation-duration: 2s;     
    -webkit-animation-fill-mode: both;
    -webkit-transition: ease-in-out;
  animation-name: slider2;
  animation-duration: 2s;    
  animation-fill-mode: both;
  transition: ease-in-out;
}

/*Home about ----------------------------------------section */
.home-about h3 {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.grid-container {
 width: 100%;
 gap: 2px;
 display: grid;
 grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
 grid-template-rows: 1fr 0.25fr 0.5fr 0.25fr 1fr;
 overflow: hidden;
/*   gap: 0px 0px; */
 grid-template-areas:
   "Image-1 Image-1 image-4 image-4"
   ". Image-2 image-4 image-4"
   ". Image-2 Image-5 ."
   "Image-3 Image-3 Image-5 ."
   "Image-3 Image-3 Image-6 Image-6";
}

.grid-container div {
 width: 100%;
 height: 100%;
}
.Image-1 { 
 grid-area: Image-1;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
       
}

.Image-2 { grid-area: Image-2; 
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;}

.Image-3 { grid-area: Image-3; 
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;}

.image-4 { grid-area: image-4; 
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;}

.Image-5 { grid-area: Image-5;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;}

.Image-6 { grid-area: Image-6; 
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;}


/*Top Product ----------------------------------------Section */
.top-product-content,
.shop-product-content {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 25px;
  overflow-x: hidden;
}

.recipe-product-content {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 25px;
  overflow-x: hidden;
}

@media(max-width: 1024px) {
  .top-product-content,
  .shop-product-content,
  .recipe-product-content  {
    grid-template-columns: auto auto auto;
  }
}

@media(max-width: 500px) {
  .top-product-content,
  .shop-product-content,
  .recipe-product-content  {
    grid-template-columns: auto auto;
  }
}

.img-container {
  position: relative;
  overflow: hidden;
}


.button-explore-store {
  text-align: center;
  margin-top: 60px;
}

/* Coming Soon ----------------------------------------Section */
.coming-soon .container {
  width: 100%;
}
@media (min-width: 900px) {
  .coming-soon .container {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .coming-soon .section-title h5 {
      font-size: 20px;
  }
}

.coming-soon .coming-soon-store h5{
  font-size: 30px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer !important;
}



.coming-soon .coming-soon-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  overflow-x: hidden;
  position: relative;
  border-radius: 15px;
  width: 100%;

}

.coming-soon .coming-soon-grid > span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  font-size: 2.0rem;
  font-weight: bold;
  margin-top: 0px;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1); 
}
@media (max-width: 500px) {
  .coming-soon .coming-soon-grid > span {
    font-size: 15px;
  }
}

.coming-soon .container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 2;
  cursor: pointer;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}

/*Product Shop ----------------------------------------Page */

.shop-product-content_inner,
.recipe-product-content_inner {
  position: relative;
  z-index: 1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 5px; 
}

.recipe-product-content_inner {
  padding: 5px;
}

.shop-product-content_inner .img-container,
.recipe-product-content_inner .img-container {
    position: relative;
    z-index: 1; 
}

.recipe-product-content_inner .img-container {
  margin: 0 15px;
}

.shop-product-content_inner .img-container img
.recipe-product-content_inner .img-container img {
      width: 100%; 
}

.shop-product-content_inner .shop-descript #store-item-name a{
  color: #0C3653;
  font-weight: bold;
}

.shop-product-content_inner .shop-descript #store-item-name a:hover {
  color: #0C3653;
}

.shop-product-content_inner .shop-descript .store-item-price {
  color: #F98169;
}

.shop-product-content_inner .shop-descript p {
  margin-bottom: 20px; 
}
  .shop-product-content_inner .shop-descript .shop-text p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 20px; 
}
.shop-product-content_inner .shop-descript .shop-text p a {
  font-size: 12px; 
  color: #0C3653;
}

.shop-product-content_inner .shop-descript .shop-text p a:hover{
  color: #0C3653; 
}

.shop-product-content_inner.slide-1,
.recipe-product-content_inner.slide-1 {
   margin-bottom: 5px; 
}
.shop-product-content_inner.slide-1 .img-container,
.recipe-product-content_inner.slide-1 .img-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 97px;
    flex: 0 0 97px;
    min-width: 97px;
}

.shop-product-content_inner.slide-1 .shop-descript,
.recipe-product-content_inner.slide-1 .recipe-descript {
  padding: 5px; 
} 

.shop-product-content_inner.slide-1:last-of-type,
.recipe-product-content_inner.slide-1:last-of-type {
    margin-bottom: 0; 
}


/* About ----------------------------------------Page */
 .about-section p{
    color: #768590;
    font-size: 20px;
  }


/* Contact ----------------------------------------Page */
.contact-section,.page-section {
  padding-top: 100px;
}

.contact-section .contact-text {
  text-align: center;
  margin-top: 205px;
}

@media(min-width: 768px) and (max-width: 991px) {
  .contact-section .contact-text{
    margin-top: 100px;
  }
}
@media(max-width: 767px) {
  .contact-section .contact-text{
    margin-top: 10px;
  }
}

.contact-section .contact-text span{
  font-size: 54px;
}

.contact_form_inner {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
  height: 100%;
  text-align: center;
  padding-top: 55px; 
}

.contact_form_inner .contact_form {
  max-width: 500px;
  min-height: 400px;
  margin: auto; 
}

.contact_form_inner .contact_form input,
.contact_form_inner .contact_form textarea{
  border: 0.05rem solid #F98169;
  color: #000;

}

.contact_form_inner h3 {
    color: #222222;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 30px; }

.contact-section .contact_form_inner .btn-contact{
  border-radius: 5px;
  background-color: #F98169;
  color: white;
}

/* Single Product ----------------------------------------Page */

.left-box img{
  width: 100px;
  margin-top: -150px;
}

.arrow-back {
  width: 30px;
  position: absolute;
  right: 0;
  left: 20px;
  /* top: 24%; */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.arrow-back i {
  width: 30px;
  height: 50px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #F98169;
  font-size: 26px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}

.social_links--product {
  position: absolute;
  right: 0;
  left: 20px;
  top: 56%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social_links--product li {
  display: block;
  margin-bottom: 10px;
}

.social_links--product li a {
  width: 30px;
  height: 30px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: #F98169;
  font-size: 13px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}


.social_links--product li:last-child {
  margin-bottom: 0;
}



.single_product_inner, 
.single_recipe_inner {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
  height: 100%;
  text-align: left;
  position: relative;
  /* left: 30px; */
  padding-top: 25px; 
  padding-bottom: 25px; 
  border-radius: 20px;

}

.product_image_area {
  padding-top: 0px; }
.s_product_img,
.s_recipe_img {
  width: 100%;
}

@media(min-width:767px) {
  .s_product_text {
    margin: 50px;
    margin-top: 100px;
  }
}

.s_product_text h3 {
  font-size: 24px;
  font-weight: bolder;
  color: #0C3653;
  margin-bottom: 10px; 
}

.s_product_text h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px; 
  color: #F98169;
}

.s_product_text p {
padding-top: 20px;
margin-bottom: 70px; 
}

.qty-icon span {
  font-weight: bolder;
  color: #768590;

}

.product-count .input-group .form-control {
  font-size: 14px;
  border: 2px solid #768590;
  width: 100% !important;
  font-weight: 300;
  color: #768590;
  border-radius: 55px;
  z-index: 0;
  padding:.5rem 0;
  text-align: center;
  margin: 0 10px;
  background: transparent;
  cursor: pointer;
  width: 100%;
  /* line-height: 1.5; */

}

.product-count .input-group button {
  position: absolute;
  background: transparent;
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 24px;
  color:#768590;
  font-weight: 700;
  padding: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 0;
  /* border: 1px solid black; */
  cursor: pointer;
}

.product-count .input-group .btn-default {
  left: 15px;
}

.product-count .input-group .btn-default-add {
  right: 15px;
}

.btn-singleOrder{
  background-color: #F98169;
  color: white;
  width: 100%;
  padding:.3rem 1rem;
  font-size:1.25rem;
  line-height:1.5;
  border-radius:.3rem;
  font-weight: bolder;
  border: 1px solid transparent;
  cursor: pointer;
}

.review-content {
  margin: 30px 0px;
  height: 580px;
  padding: 0 5px;
  overflow-y: auto;
}

.review_inner,
.recipe_inner {
  padding: 30px;
  background:white;
  -webkit-box-shadow: 0 4px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  top: 0;
  position: relative; 
  margin-bottom: 20px;
}

.review_inner .review-img,
.recipe_inner{
  resize: cover;
}

.review_inner .review-img img {
  width: 100px; 
  border-radius: 50%;
}

.review_inner .review-text,
.recipe_inner .recipe-text {
  margin-left: 10px;
}

.review_inner .review-text *:last-child {
  margin-bottom: 0; 
}

.review_inner .review-text h3 {
  font-size: 1.2rem;
  margin-bottom: 10px; 
}

.feedbacks__review {
    border: 1px solid #F98169;
    width: 100%;
}

@media(min-width: 900px) {
  .feedbacks__review {
    width: 400px;
  }
}

.feedbacks__review--content {
    padding: 25px;
}

.feedbacks__review--content input {
  border: 1px solid #F98169;
}

.feedbacks__review--content textarea{
    height: 180px;
    border: 1px solid #F98169;
}

.feedbacks__review--content .rating-star .stars i {
    color: goldenrod;

  }

.review--header img{
  width: 100px;
  position: relative;
  left: 30%;
  right: 30%;
  
}

.review--header h5 {
  font-size: 19px;
  font-family: sans-serif
}


.shop-section-slider .owl-dots,
.recipe-section-slider .owl-dots {
  text-align: center; 
}

.shop-section-slider .owl-dots .owl-dot,
.recipe-section-slider .owl-dots .owl-dot{
    display: inline-block; 
    margin-top: 40px;
    margin-bottom: -50px;
}

.shop-section-slider .owl-dots .owl-dot > span,
.recipe-section-slider .owl-dots .owl-dot > span {
  margin: 7px;
  background: #FF9800;
  opacity: 0.4;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%; 

}

.shop-section-slider .owl-dots .owl-dot:hover > span,
.recipe-section-slider .owl-dots .owl-dot:hover > span {
  background: #FF9800; 
}

.shop-section-slider .owl-dots .owl-dot.active > span,
.recipe-section-slider .owl-dots .owl-dot.active > span {
  background: #FF9800; 
  opacity: 1.0;
  border-radius: 30px !important;
  -webkit-transition: 0.5s all ease-in-out !important;
  -o-transition: 0.5s all ease-in-out !important;
  transition: 0.5s all ease-in-out !important;
}


/* Recipe Product ----------------------------------------Page */
.recipe-product-content_inner .recipe-descript #recipe-head{
  color: #F98169;
  font-weight: bold;
}
.recipe-product-content_inner .recipe-descript #recipe-head:hover {
  color: #F98169;
}

.recipe-product-content_inner .recipe-descript .recipe-name {
  color: #0C3653;
}

.recipe-product-content_inner .recipe-descript .recipe-tripple-icon {
  margin-top: 15px;
}

.recipe-product-content_inner .recipe-descript .recipe-tripple-icon span>img{
  width: 15px !important;
  display: inline;

}

.bookmark .btn-bookmark {
  background: #FF9800;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
}

.bookmark img{
  position: relative !important;
   width: 100% !important;
   top: 25% !important;
 }

.recipe_inner {
 display: block;
}
@media(min-width: 800px ) {
  .recipe_inner {
    display: flex;
   }
}

.recipe_inner .recipe-img img{
  margin: 15px;
 }

.recipe-carousel .recipe_inner .recipe-text {
  margin-left: 30px;
  color: #263238;
  display: block;
}
@media(max-width:500px ) {
  .recipe-carousel .recipe_inner .recipe-text {
    margin-left: 0px;
  }
}
@media(min-width: 850px ) {
  .recipe-carousel .recipe_inner .recipe-text {
    display: flex;
  }
}


.recipe-carousel .recipe_inner .recipe-text .recipe-left-icon {
  display: block;
}

@media(min-width: 800px ) {
  .recipe-carousel .recipe_inner .recipe-text .recipe-left-icon {
    display: flex;
  }
}

.recipe-carousel .recipe_inner .recipe-text .recipe-left>span{
  color: #FF9800;
}

.recipe-carousel .recipe_inner .recipe-text .recipe-left>h2{
  font-weight: bolder;
  padding: 10px 10px 20px 0;
}


@media (max-width:500px) {
  .recipe-carousel .recipe_inner .recipe-text .recipe-left>h2{
    font-size: 28px;
   padding: 0;

  }
}

.recipe-carousel .recipe_inner .recipe-text .recipe-left span>img{
  width: 30px !important;
  display: inline;

}



.recipe-carousel .recipe_inner .recipe-text .recipe-right {
  display: block;
}

@media(min-width: 800px ) {
  .recipe-carousel .recipe_inner .recipe-text .recipe-right {
    display: flex;
  }
}

.recipe-share-btn {
  margin: 5px!important; 
}

.recipe-share-btn img{
 position: relative !important;
  width: 60% !important;
  top: 25% !important;
  left: 25% !important;
}

.recipe-share-btn .btn-share {
  background: #263238;
  border-radius: 50%;
  width: 60px !important;
  height: 60px !important;
  cursor: pointer;

}

.recipe-share-btn .btn-share:focus {
  -webkit-box-shadow: none;
  box-shadow: none
}

.recipe-share-btn .btn-bookmark {
  background: #FF9800;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
}

.recipe-carousel .owl-dots {
  /* width: 50%; */
  text-align: center; 

  }

.recipe-carousel .owl-dots .owl-dot {
    display: inline-block; 
    margin-top: 40px;
    margin-bottom: -50px;
}

.recipe-carousel .owl-dots .owl-dot > span {
  margin: 7px;
  background: #FF9800;
  opacity: 0.4;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%; 

}

.recipe-carousel .owl-dots .owl-dot:hover > span {
  background: #FF9800; 
}

.recipe-carousel .owl-dots .owl-dot.active > span {
  background: #FF9800; 
  opacity: 1.0;
  border-radius: 30px !important;
  -webkit-transition: 0.5s all ease-in-out !important;
  -o-transition: 0.5s all ease-in-out !important;
  transition: 0.5s all ease-in-out !important;
}

/* Sigle page Recipe ----------------------------------------Section */
@media(min-width:767px) {
  .s_recipe_text {
    margin: 5px;
    /* margin-top: 100px; */
  }
}
.s_recipe_text {
  background: #2632381f;
  opacity: 3;
  box-shadow: none;
  border-radius: 10px;
  
}

.s_recipe_text .s_recipe_text--header{
  text-align: center;
  padding-top: 5px;
}

.s_recipe_text .s_recipe_text--recipe {
  padding: 8px;
}

.s_recipe_inner .eta{
  display: flex;
  color: #F98169;
  font-weight: 900;
}


@media(max-width: 500px) {
  .s_recipe_inner .eta{
   display: block;
  }
}

@media(min-width: 767px) {
  .s_recipe_inner .eta{
    position: relative;
    left: 30%;
    width: 50%;
  }
}

.s_recipe_description {
  margin: 30px 60px;
  height: 580px;
  padding: 0 5px;
  overflow-y: scroll;
  color: #F98169;
}

@media (max-width: 500px ) {
  .s_recipe_description {
    margin: 0px;
    
  }
}

.s_recipe_description--inner {
  display: flex;
}

@media (max-width: 500px ) {
  .s_recipe_description--inner {
    display: block;
  }
}

.order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.order-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.descript_number .number {
  font-size: 100px;
  font-weight: bolder;
}

@media (max-width: 510px ) {
  .descript_number .number {
    font-size: 30px;
  }
}

.descript_text {
  text-align: center;
  /* margin: 20px; */
}

.descript_text *:last-child {
  margin-bottom: 0; 
}

.descript_inner {
  padding: 35px;
  background: #F98169;
  -webkit-box-shadow: 0 4px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  top: 0;
  position: relative; 
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
  color: #fff;
  font-family: 'Lucida Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
}

@media (max-width: 500px ) {
  .descript_inner {
    padding: 5px;
  }
}

.recipe-enjoy h5 {
  font-weight: bolder;
}

.s_btns {
  margin: 5px!important; 
}

.s_btns img{
 position: relative !important;
  width: 60% !important;
}

.s_btns .btn-share {
  background: #263238;
  border-radius: 50%;
  width: 60px !important;
  height: 60px !important;
  cursor: pointer;

}

.s_btns .btn-share:focus {
  -webkit-box-shadow: none;
  box-shadow: none
}

.s_btns .btn-bookmark {
  background: #F98169;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
}

.advert .dark-overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.advert{
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/advert.png);
    background-size: cover;
    text-align: center;
    color: white;
    min-height: 200px;
    width: 100%;
    background-position: center;
    /* background-attachment: fixed; */
    overflow-x: hidden;
}

.advert img {
  width: 100%;
}

@media(max-width: 766px) {
  .advert img {
    width: 30%;
  }
}

@media(min-width: 767px) {
  .advert .ads-venue {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
  } 
  .advert img {
    width: 20% !important;
  }
  .advert p {
    padding-top: 50px;
   
  }
  
}

@media(min-width: 767px) {
  .advert .row {
    padding-top: 50px;
  } 
}

.advert p {
  font-weight: bold;
  font-size: 20px;
}

.advert button {
  border-radius: 30px;
  color: #F98169;
  font-weight: bold;
  
}

.SR-slide {
  position: relative;
  left: 0;
  width: 100%;
  z-index: 2; 
}


.Srecipe-name {
  color: #263238;
  font-weight: 500;
}

.single-recipe-slider.owl-carousel .owl-nav div {
    display: none;
  }

@media(min-width: 1240px) {
  .single-recipe-slider.owl-carousel .owl-nav div {
    display: block;
    background: transparent;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 38%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #fff;
    font-size: 15px;
  }
}

.single-recipe-slider.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: -50px;
}

.single-recipe-slider.owl-carousel .owl-nav div.owl-prev {
  right: auto;
  left: -50px;
}

.single-recipe-slider.owl-carousel .owl-nav div.owl-next i {
  position: relative;
  right: 0;
}

.single-recipe-slider.owl-carousel .owl-nav div.owl-prev i {
  position: relative;
  top: 5px;
}

.single-recipe-slider .owl-dots {
  /* width: 50%; */
  text-align: center; 

  }
  .single-recipe-slider .owl-dots .owl-dot {
    display: inline-block; 
    margin-top: 40px;
    margin-bottom: -50px;
}

.single-recipe-slider .owl-dots .owl-dot > span {
  margin: 7px;
  background:#F98169;
  opacity: 0.4;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%; 

}

.single-recipe-slider .owl-dots .owl-dot:hover > span {
  background:#F98169; 
}

.single-recipe-slider .owl-dots .owl-dot.active > span {
  background:#F98169; 
  opacity: 1.0;
  border-radius: 30px !important;
  -webkit-transition: 0.5s all ease-in-out !important;
  -o-transition: 0.5s all ease-in-out !important;
  transition: 0.5s all ease-in-out !important;
}





/* Footer ----------------------------------------Section */

.footer .footer_top {
  padding: 5px;
  padding-top: 100px;
}

@media (max-width: 767px) {
  .footer .footer_top {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer .footer_top {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.footer-left  {
  display: flex;
}

@media (max-width: 500px) {
  .footer-left  {
    display: inline-block;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .footer-logo  {
    width: 100px;
    height: 10%;
  }
}

@media (min-width: 768px) {
  .footer-logo  {
    width: 25%;
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .footer-right {
    float: right;
  }
}


.footer .footer_top .menu_links ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer .footer_top .menu_links ul li a {
  color: #7E8C93;
  font-size: 15px;
  font-weight: bold;
}

.footer .social_links {
  margin-top: 10px;
  position: relative;
  text-align: center;
}

.footer .social_links ul li {
  display: inline-block;
  
}

.footer .footer_top .social_links ul li a {
  color: #F98169;
  width: 25px;
  display: inline-block;
  background: transparent;
  margin-right: 20px;
  font-size: 15px;
}

.footer .copy-right_text {
  padding-bottom: 10px;
}


.footer .copy-right_text .copy_right {
  font-size: 13px;
  color: #F98169;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {
  .footer .copy-right_text .copy_right {
    font-size: 13px;
  }
}


