.productDashboard {
  padding-top: 0;
}

.productDashboard-carousel--inner{
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 5px; 
    width: 100%;
}

.productDashboard-carousel--inner .img-container{
    position: relative;
    z-index: 1; 
}
  
.productDashboard-carousel--inner .img-container img {
    width: 100%; 
}

.productDashboard-carousel--inner {
   margin-bottom: 5px; 
}

.productDashboard-carousel--inner .img-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 97px;
    flex: 0 0 97px;
    min-width: 97px;
}

.productDashboard-carousel--inner .productDashboard-carousel--descript  {
  padding: 5px; 
} 

.productDashboard-carousel--inner :last-of-type {
    margin-bottom: 0; 
}

.btn-default {
    background: #F98169;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid transparent;
    color: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.btn-default:hover {
    color: #fff;
}

.btn-default:focus {
    box-shadow: none;
}

// Product and dashboard carousels
.owl-carousel .item {
  height: auto;
  background: #fff;
  // text-align: center;
  margin: 1rem;
}

.owl-carousel .item:last-of-type {
  margin-bottom: 0; 
}

.owl-theme .owl-dots {
  text-align: center;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: -50px;
}

.owl-theme .owl-dots .owl-dot > span {
  margin: 7px;
  background: #F98169;
  opacity: 0.4;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.owl-theme .owl-dots .owl-dot:hover > span {
  background: #F98169;
}

.owl-theme .owl-dots .owl-dot.active > span {
  background:#F98169; 
  opacity: 1.0;
  border-radius: 30px !important;
  -webkit-transition: 0.5s all ease-in-out !important;
  -o-transition: 0.5s all ease-in-out !important;
  transition: 0.5s all ease-in-out !important;
}

// Modal
.modal-dialog{
  margin: 1rem;
  max-width: 1000vw;
}

@media(min-width : 1200px) {
.modal-dialog {
    max-width: 40vw;
    margin: auto;
    margin-top: 8rem;

  }
}
.modal-content {
  padding: 50px 0;
  border-radius: 15px;
  border: 1px #ddd;
}

.modal--btns {
  text-align: center;
  margin-top: 15px;
}

.modal--btns button{
  cursor: pointer;
}

.modal-backdrop.show{
  opacity: .6
}

// Edit Products

.editProduct {
  padding-top: 50px;
}

.editProduct__name input,
.editProduct__description textarea{
  border: 1px solid #F98169;
  padding: .9em;
}

.editProduct__name input:focus,
.editProduct__description textarea:focus{
  border: 3px solid #F98169;
  box-shadow: none;
}

.editProduct__name h5,
.editProduct__description h5{
  color: #F98169;
  font-size: 18px;
  margin-left: 20px;
  font-weight: bold;
  
}

.editProduct__tray {
  background: #F98169;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  line-height: 3;
}

.editProduct__tray--inputs button{
  color: #F98169;
  font-weight: bold;
  background-color: #fff;
  border: 1px #fff;

}

.editProduct__tray--inputs input {
  width: 100px;
  height: 30px;
  border-radius: 3px;
  background: #fff;
  border: 1px #fff;
  color: #F98169;
  font-weight: bold;
  padding: 0 1rem;
}

.editProduct__tray--inputs input:focus {
  outline: 1px solid red;
} 

.wrapper{
  position: relative;
  height: 200px;
  width: 100%;
  border-radius: 0;
  background: #fff;
  border: 2px solid #F98169;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  }
  .wrapper.active{
  border: none;
  }
  .wrapper div.image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid F98169;
  }
  .wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: none;
  }
  .wrapper .icon{
  font-size: 100px;
  color: #F98169;
  }
  .wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color:  #0C3653;
  }
  .wrapper #cancel-btn i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #F98169;
  cursor: pointer;
  display: none;
  }
  .wrapper.active:hover #cancel-btn i{
  display: block;
  }
  .wrapper #cancel-btn i:hover{
  color: #F98169;
  }
  .wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: #F98169;
  }
  .wrapper.active:hover .file-name{
  display: block;
  }
 #custom-btn{
  margin-top: 4px;
  margin-bottom: 25px;
  display: block;
  // width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
  background: #F98169;
  }
