.signIn {
    padding-top: 100px;

}

.signIn .logo img{
    width: 20%;
}

@media (max-width:767px) {
    .signIn .logo img{
        width: 100%;
    }
}

.input--control{
    margin: auto;
    display:block;
    width: 100%;
    padding: .7rem 3rem;
    font-size:1rem;
    line-height: 1.8;
    color:#fff;
    background-color: $theme-bgcolor;
    background-image:none;
    background-clip:padding-box;
    border:1px solid transparent;
    border-radius: 100px;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

@media(min-width: 800px) {
    .input--control  {
        width: 30%;
    }
}

.input--control:focus {
    box-shadow: none;
    outline: $theme-bgcolor;
}

.input--control::placeholder {
    color: #fff;
}

.input--control:-moz-placeholder {
    color: #fff;
}

.btn-sign {
    background: #F98169;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 8px;
    margin-top: 30px;
}
  
.btn-sign:hover {
    color: #fff;
    cursor: pointer;
} 
  
.btn-sign:focus {
    box-shadow: none;
}
